/* Overall design of the website */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

/* Animation at the beginning */

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-text {
  font-family: "Times New Roman", Times, serif;
  font-size: 3rem;
  color: white;
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

/* Animation on the right side of the website */ 

#canvas-complex {
  position: absolute;
  display: block;
  width: 1%;
  height: 100%;
  top: 0;
  right: 0;
}

/* Social media icons and animation */

#logos {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 6vh;
  position: absolute;
  bottom: 0px;
  left: 50%;
  background-color: transparent;
}

ul {
  position: absolute;
  display: flex;
}

ul li {
  position: relative;
  list-style: none;
  margin: 0 20px;
  cursor: pointer;
}

ul li a {
  text-decoration: none;
}

ul li a .fa {
  font-size: 2em;
  color: #222;
}

ul li::before {
  font-family: fontAwesome;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2em;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  pointer-events: none;
}

ul li:nth-child(1)::before {
  content: '\f08c';
  color: #2867B2;
  border-bottom: 3px solid #2867B2;
}

ul li:nth-child(4)::before {
  content: '\f16e';
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
}

ul li:nth-child(5)::before {
  content: '\f26e';
  color: #369a98;
  border-bottom: 3px solid #369a98;
}

ul li:nth-child(6)::before {
  content: '\f167';
  color: #e52d27;
  border-bottom: 3px solid #e52d27;
}


ul li:hover::before {
  height: 100%;
}

/* First level of content */

#welcome {
  color: white;
  position: absolute;
  left: 250px;
  top: 130px;
  font-family: "Times New Roman", Times, serif;
}

#welcome2 {
  color: #CE5937;
  position: absolute;
  left: 440px;
  top: 130px;
  font-family: "Times New Roman", Times, serif;
  color: #20B2AA;
}

#id1 {
  position: absolute;
  left: 250px;
  top: 168px;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

#button1 {
  position: absolute;
  left: 280px;
  top: 300px;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  color: white;
  border: none;
  background-color: transparent;
  font-weight: bold;
} 

#button1:hover {
  background-color: transparent;
  border: none;
  color: #20B2AA;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

#button1:focus {
  background-color: transparent;
  border: black;
  color: #20B2AA;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  outline: none;
}

#button2 {
  position: absolute;
  left: 280px;
  top: 340px;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  color: white;
  border: none;
  background-color: transparent;
  font-weight: bold;
} 

#button2:hover {
  background-color: transparent;
  border: none;
  color: #20B2AA;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

#button2:focus {
  background-color: transparent;
  border: black;
  color: #20B2AA;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  outline: none;
}

#button3 {
  position: absolute;
  left: 280px;
  top: 340px;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  color: white;
  border: none;
  background-color: transparent;
  font-weight: bold;
} 

#button3:hover {
  background-color: transparent;
  border: none;
  color: #20B2AA;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

#button3:focus {
  background-color: transparent;
  border: black;
  color: #20B2AA;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  outline: none;
}

#button4 {
  position: absolute;
  left: 280px;
  top: 380px;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  color: white;
  border: none;
  background-color: transparent;
  font-weight: bold;
} 

#button4:hover {
  background-color: transparent;
  border: none;
  color: #20B2AA;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

#button4:focus {
  background-color: transparent;
  border: black;
  color: #20B2AA;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  outline: none;
}

/* Second level of content */

#content1 {
  position: absolute;
  left: 560px;
  top: 300px;
  font-size: 18;
  font-family: "Courier New", Courier, monospace;
  color: white;
  border: none;
  background-color: transparent;
  width: 600px;
  text-align: justify;
}

#content2 { 
  position: absolute;
  left: 560px;
  top: 230px;
  font-size: 18;
  font-family: "Courier New", Courier, monospace;
  color: white;
  border: none;
  background-color: transparent;
  text-align: justify;
  width: 600px;
}

#content3 {
  position: absolute;
  left: 560px;
  top: 230px;
  font-size: 18;
  font-family: "Courier New", Courier, monospace;
  color: white;
  border: none;
  background-color: transparent;
  text-align: justify;
}

#content4 { 
  position: absolute;
  left: 560px;
  top: 230px;
  font-size: 18;
  font-family: "Courier New", Courier, monospace;
  color: white;
  border: none;
  background-color: transparent;
  text-align: justify;
}
